div{
    margin:20px;
    display: flex;
    flex-direction: row; 
    align-items: center;  
    justify-content: center; 
}
.user{
    display: flex;
    flex-direction: column;
    background-color: rgb(226, 229, 232);
    padding: 3px;
}
.user input{
    border: none;
    background-color: rgb(226, 229, 232);
    border-bottom: 2px solid black;
}
.user select{
    border: none;
    background-color: rgb(226, 229, 232);
    border-bottom: 2px solid black;
}
button{
    padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: blue;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}